<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Зоомагазин.Properties.Settings.ZooshopConnectionString"
            connectionString="Data Source=КРИС\SQLEXPRESS;Initial Catalog=Zooshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Зоомагазин.Properties.Settings.ZooshopConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Zooshop.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>